@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
 
        --colors-nutral-black-black-100: #cccccc;
        --colors-nutral-black-black-200: #b3b3b3;
        --colors-nutral-black-black-25: #f2f2f2;
        --colors-nutral-black-black-300: #999999;
        --colors-nutral-black-black-400: #808080;
        --colors-nutral-black-black-50: #e6e6e6;
        --colors-nutral-black-black-500: #666666;
        --colors-nutral-black-black-600: #4d4d4d;
        --colors-nutral-black-black-700: #333333;
        --colors-nutral-black-black-800: #1a1a1a;
        --colors-nutral-black-black-900-main: #000000;
        --colors-nutral-gray-soft-gray-soft-100: #e0e2e7;
        --colors-nutral-gray-soft-gray-soft-200: #c2c6ce;
        --colors-nutral-gray-soft-gray-soft-25: #fafafa;
        --colors-nutral-gray-soft-gray-soft-300: #a3a9b6;
        --colors-nutral-gray-soft-gray-soft-400: #858d9d;
        --colors-nutral-gray-soft-gray-soft-50: #f0f1f3;
        --colors-nutral-gray-soft-gray-soft-500-main: #667085;
        --colors-nutral-gray-soft-gray-soft-600: #59647a;
        --colors-nutral-gray-soft-gray-soft-700: #525d73;
        --colors-nutral-gray-soft-gray-soft-800: #4a556c;
        --colors-nutral-gray-soft-gray-soft-900: #404a60;
        --colors-nutral-gray-strong-dark-mode-gray-strong-100: #8791b7;
        --colors-nutral-gray-strong-dark-mode-gray-strong-200: #6a749c;
        --colors-nutral-gray-strong-dark-mode-gray-strong-25: #bcc3e3;
        --colors-nutral-gray-strong-dark-mode-gray-strong-300: #475175;
        --colors-nutral-gray-strong-dark-mode-gray-strong-400: #384162;
        --colors-nutral-gray-strong-dark-mode-gray-strong-50: #9da6cb;
        --colors-nutral-gray-strong-dark-mode-gray-strong-500-main: #2f3757;
        --colors-nutral-gray-strong-dark-mode-gray-strong-600: #242a46;
        --colors-nutral-gray-strong-dark-mode-gray-strong-700: #1b2037;
        --colors-nutral-gray-strong-dark-mode-gray-strong-800: #151a2d;
        --colors-nutral-gray-strong-dark-mode-gray-strong-900: #0e1223;
        --colors-nutral-white-white-main: #ffffff;
        --colors-brand-primary-primary-100: #f1c3d9;
        --colors-brand-primary-primary-200: #eba5c7;
        --colors-brand-primary-primary-25: #fffafc;
        --colors-brand-primary-primary-300: #e27cad;
        --colors-brand-primary-primary-400: #dc639d;
        --colors-brand-primary-primary-50: #fbecf3;
        --colors-brand-primary-primary-500-main: #d33c85;
        --colors-brand-primary-primary-600: #c03779;
        --colors-brand-primary-primary-700: #962b5e;
        --colors-brand-primary-primary-800: #742149;
        --colors-brand-primary-primary-900: #591938;
        --colors-brand-secondary-secondary-100: #afddd3;
        --colors-brand-secondary-secondary-200: #8acdbf;
        --colors-brand-secondary-secondary-25: #eef8f6;
        --colors-brand-secondary-secondary-300: #73c3b3;
        --colors-brand-secondary-secondary-400: #50b4a0;
        --colors-brand-secondary-secondary-50: #c9e8e2;
        --colors-brand-secondary-secondary-500-main: #49a492;
        --colors-brand-secondary-secondary-600: #398072;
        --colors-brand-secondary-secondary-700: #2c6358;
        --colors-brand-secondary-secondary-800: #224c43;
        --colors-brand-secondary-secondary-900: #0b231e;
        --colors-brand-teritary-tertiary-100: #c1afdd;
        --colors-brand-teritary-tertiary-200: #a58acd;
        --colors-brand-teritary-tertiary-25: #faf6ff;
        --colors-brand-teritary-tertiary-300: #9373c3;
        --colors-brand-teritary-tertiary-400: #7850b4;
        --colors-brand-teritary-tertiary-50: #d5c9e8;
        --colors-brand-teritary-tertiary-500-main: #6d49a4;
        --colors-brand-teritary-tertiary-600: #553980;
        --colors-brand-teritary-tertiary-700: #422c63;
        --colors-brand-teritary-tertiary-800: #32224c;
        --colors-brand-teritary-tertiary-900: #1f0f39;
        --colors-feedback-negative-negative-100: #ffe2e0;
        --colors-feedback-negative-negative-200: #ffc6c2;
        --colors-feedback-negative-negative-25: #fff8f7;
        --colors-feedback-negative-negative-300: #ffa9a3;
        --colors-feedback-negative-negative-400: #ff8d85;
        --colors-feedback-negative-negative-50: #fff1f0;
        --colors-feedback-negative-negative-500-main: #ff554a;
        --colors-feedback-negative-negative-600: #ea483d;
        --colors-feedback-negative-negative-700: #d7392e;
        --colors-feedback-negative-negative-800: #c8271c;
        --colors-feedback-negative-negative-900: #b71409;
        --colors-feedback-positive-positive-100: #d3f4e0;
        --colors-feedback-positive-positive-200: #a7e9c1;
        --colors-feedback-positive-positive-25: #f4fcf7;
        --colors-feedback-positive-positive-300: #7bdfa3;
        --colors-feedback-positive-positive-400: #4fd484;
        --colors-feedback-positive-positive-50: #e9faf0;
        --colors-feedback-positive-positive-500-main: #23c965;
        --colors-feedback-positive-positive-600: #08b94e;
        --colors-feedback-positive-positive-700: #02983e;
        --colors-feedback-positive-positive-800: #00732e;
        --colors-feedback-positive-positive-900: #00481d;
        --colors-feedback-warning-warning-100: #fff3db;
        --colors-feedback-warning-warning-200: #ffe6b7;
        --colors-feedback-warning-warning-25: #fffcf6;
        --colors-feedback-warning-warning-300: #ffda92;
        --colors-feedback-warning-warning-400: #ffcd6e;
        --colors-feedback-warning-warning-50: #fff9ed;
        --colors-feedback-warning-warning-500-main: #ffc14a;
        --colors-feedback-warning-warning-600: #eba622;
        --colors-feedback-warning-warning-700: #d18a02;
        --colors-feedback-warning-warning-800: #9f6800;
        --colors-feedback-warning-warning-900: #5a3b00;
        
      }
}

@media (prefers-color-scheme: light) {
  :root {
  --background-fill-central: var(--colors-nutral-white-white-main);
  --background-fill-heart: var(--colors-nutral-white-white-main);
  --background-fill-inner: var(--colors-nutral-white-white-main);
  --background-fill-middle: var(--colors-nutral-white-white-main);
  --background-fill-outermost: var(--colors-nutral-white-white-main);
  --background-fill-surface: var(--colors-nutral-gray-soft-gray-soft-25);
  --background-fill-white: #ffffff;
  --background-stroke-central: var(--colors-nutral-gray-soft-gray-soft-50);
  --background-stroke-heart: var(--colors-nutral-gray-soft-gray-soft-50);
  --background-stroke-inner: var(--colors-nutral-gray-soft-gray-soft-50);
  --background-stroke-middle: var(--colors-nutral-gray-soft-gray-soft-50);
  --background-stroke-outermost: var(--colors-nutral-gray-soft-gray-soft-50);
  --background-stroke-surface: var(--colors-nutral-gray-soft-gray-soft-100);
  --component-reversed: var(--colors-nutral-gray-strong-dark-mode-gray-strong-800);
  --component-fill-dark: var(--colors-nutral-gray-strong-dark-mode-gray-strong-800);
  --component-fill-dark-soft: var(--colors-nutral-gray-soft-gray-soft-50);
  --component-fill-disabled: var(--colors-nutral-gray-strong-dark-mode-gray-strong-25);
  --component-fill-light: var(--colors-nutral-white-white-main);
  --component-fill-light-fixed: var(--colors-nutral-white-white-main);
  --component-fill-negative: var(--colors-feedback-negative-negative-500-main);
  --component-fill-negative-soft: var(--colors-feedback-negative-negative-25);
  --component-fill-positive: var(--colors-feedback-positive-positive-500-main);
  --component-fill-positive-sfot: var(--colors-feedback-positive-positive-25);
  --component-fill-primary: var(--colors-brand-primary-primary-500-main);
  --component-fill-primary-soft: var(--colors-brand-primary-primary-25);
  --component-fill-secondary: var(--colors-brand-secondary-secondary-500-main);
  --component-fill-secondary-soft: var(--colors-brand-secondary-secondary-25);
  --component-fill-tertiary: var(--colors-brand-teritary-tertiary-500-main);
  --component-fill-tertiary-soft: var(--colors-brand-teritary-tertiary-25);
  --component-fill-warning: var(--colors-feedback-warning-warning-500-main);
  --component-fill-warning-soft: var(--colors-feedback-warning-warning-25);
  --component-stroke-dark: var(--colors-nutral-gray-strong-dark-mode-gray-strong-800);
  --component-stroke-dark-soft: var(--colors-nutral-gray-soft-gray-soft-100);
  --component-stroke-disabled: var(--colors-nutral-gray-strong-dark-mode-gray-strong-50);
  --component-stroke-light-fixed: var(--colors-nutral-white-white-main);
  --component-stroke-negative: var(--colors-feedback-negative-negative-500-main);
  --component-stroke-negative-soft: var(--colors-feedback-negative-negative-100);
  --component-stroke-positive: var(--colors-feedback-positive-positive-500-main);
  --component-stroke-positive-soft: var(--colors-feedback-positive-positive-100);
  --component-stroke-primary: var(--colors-brand-primary-primary-500-main);
  --component-stroke-primary-soft: var(--colors-brand-primary-primary-100);
  --component-stroke-secondary: var(--colors-brand-secondary-secondary-500-main);
  --component-stroke-secondary-soft: var(--colors-brand-secondary-secondary-100);
  --component-stroke-tertiary: var(--colors-brand-teritary-tertiary-500-main);
  --component-stroke-tertiary-soft: var(--colors-brand-teritary-tertiary-100);
  --component-stroke-warning: var(--colors-feedback-warning-warning-500-main);
  --component-stroke-warning-soft: var(--colors-feedback-warning-warning-100);
  --component-text-dark: var(--colors-nutral-gray-strong-dark-mode-gray-strong-700);
  --component-text-dark-hover: var(--colors-nutral-gray-strong-dark-mode-gray-strong-800);
  --component-text-disabled: var(--colors-nutral-gray-strong-dark-mode-gray-strong-50);
  --component-text-gray: var(--colors-nutral-gray-soft-gray-soft-900);
  --component-text-gray-hover: var(--colors-nutral-gray-soft-gray-soft-600);
  --component-text-light: var(--colors-nutral-white-white-main);
  --component-text-light-fixed: var(--colors-nutral-white-white-main);
  --component-text-negative: var(--colors-feedback-negative-negative-500-main);
  --component-text-negative-hover: var(--colors-feedback-negative-negative-600);
  --component-text-positive: var(--colors-feedback-positive-positive-500-main);
  --component-text-positive-hover: var(--colors-feedback-positive-positive-600);
  --component-text-primary: var(--colors-brand-primary-primary-500-main);
  --component-text-primary-hover: var(--colors-brand-primary-primary-600);
  --component-text-secondary: var(--colors-brand-secondary-secondary-500-main);
  --component-text-secondary-hover: var(--colors-brand-secondary-secondary-600);
  --component-text-tertiary: var(--colors-brand-teritary-tertiary-500-main);
  --component-text-tertiary-hover: var(--colors-brand-teritary-tertiary-600);
  --component-text-warning: var(--colors-feedback-warning-warning-500-main);
  --component-text-warning-hover: var(--colors-feedback-warning-warning-600);
  --component-hover-dark: var(--colors-nutral-gray-strong-dark-mode-gray-strong-600);
  --component-hover-dark-soft: var(--colors-nutral-gray-soft-gray-soft-100);
  --component-hover-gray: var(--colors-nutral-gray-soft-gray-soft-50);
  --component-hover-light: var(--colors-nutral-white-white-main);
  --component-hover-light-fixed: var(--colors-nutral-white-white-main);
  --component-hover-negative: var(--colors-feedback-negative-negative-600);
  --component-hover-negative-light: var(--colors-feedback-negative-negative-400);
  --component-hover-negative-soft: var(--colors-feedback-negative-negative-50);
  --component-hover-positive: var(--colors-feedback-positive-positive-600);
  --component-hover-positive-light: var(--colors-feedback-positive-positive-400);
  --component-hover-positive-soft: var(--colors-feedback-positive-positive-50);
  --component-hover-primary: var(--colors-brand-primary-primary-600);
  --component-hover-primary-light: var(--colors-brand-primary-primary-400);
  --component-hover-primary-soft: var(--colors-brand-primary-primary-50);
  --component-hover-secondary: var(--colors-brand-secondary-secondary-600);
  --component-hover-secondary-light: var(--colors-brand-secondary-secondary-400);
  --component-hover-secondary-soft: var(--colors-brand-secondary-secondary-50);
  --component-hover-tertiary: var(--colors-brand-teritary-tertiary-600);
  --component-hover-tertiary-light: var(--colors-brand-teritary-tertiary-400);
  --component-hover-tertiary-soft: var(--colors-brand-teritary-tertiary-50);
  --component-hover-warning: var(--colors-feedback-warning-warning-600);
  --component-hover-warning-light: var(--colors-feedback-warning-warning-400);
  --component-hover-warning-soft: var(--colors-feedback-warning-warning-50);
  --container-fill-dark: var(--base-colors-nutral-gray-strong-dark-mode-gray-strong-800);
  --container-fill-dark-soft: var(--base-colors-nutral-gray-soft-gray-soft-50);
  --container-fill-disabled: var(--base-colors-nutral-gray-strong-dark-mode-gray-strong-25);
  --container-fill-light: var(--base-colors-nutral-white-white-main);
  --container-fill-light-fixed: var(--base-colors-nutral-white-white-main);
  --container-fill-negative: var(--base-colors-feedback-negative-negative-500-main);
  --container-fill-negative-soft: var(--base-colors-feedback-negative-negative-25);
  --container-fill-positive: var(--base-colors-feedback-positive-positive-500-main);
  --container-fill-positive-sfot: var(--base-colors-feedback-positive-positive-25);
  --container-fill-primary: var(--colors-brand-primary-primary-500-main);
  --container-fill-primary-soft: var(--colors-brand-primary-primary-50);
  --container-fill-secondary: var(--colors-brand-secondary-secondary-500-main);
  --container-fill-secondary-soft: var(--colors-brand-secondary-secondary-25);
  --container-fill-tertiary: var(--colors-brand-teritary-tertiary-500-main);
  --container-fill-tertiary-soft: var(--colors-brand-teritary-tertiary-25);
  --container-fill-warning: var(--base-colors-feedback-warning-warning-500-main);
  --container-fill-warning-soft: var(--base-colors-feedback-warning-warning-25);
  --container-stroke-dark: var(--base-colors-nutral-gray-strong-dark-mode-gray-strong-800);
  --container-stroke-dark-soft: var(--base-colors-nutral-gray-soft-gray-soft-100);
  --container-stroke-disabled: var(--base-colors-nutral-gray-strong-dark-mode-gray-strong-50);
  --container-stroke-negative: var(--base-colors-feedback-negative-negative-500-main);
  --container-stroke-negative-soft: var(--base-colors-feedback-negative-negative-100);
  --container-stroke-positive: var(--base-colors-feedback-positive-positive-500-main);
  --container-stroke-positive-soft: var(--base-colors-feedback-positive-positive-100);
  --container-stroke-primary: var(--colors-brand-primary-primary-500-main);
  --container-stroke-primary-soft: var(--colors-brand-primary-primary-100);
  --container-stroke-secondary: var(--colors-brand-secondary-secondary-500-main);
  --container-stroke-secondary-soft: var(--colors-brand-secondary-secondary-100);
  --container-stroke-tertiary: var(--colors-brand-teritary-tertiary-500-main);
  --container-stroke-tertiary-soft: var(--colors-brand-teritary-tertiary-100);
  --container-stroke-warning: var(--base-colors-feedback-warning-warning-500-main);
  --container-stroke-warning-soft: var(--base-colors-feedback-warning-warning-100);
  --container-text-dark: var(--base-colors-nutral-gray-strong-dark-mode-gray-strong-700);
  --container-text-dark-hover: var(--base-colors-nutral-gray-strong-dark-mode-gray-strong-800);
  --container-text-disabled: var(--base-colors-nutral-gray-strong-dark-mode-gray-strong-50);
  --container-text-gray: var(--base-colors-nutral-gray-soft-gray-soft-500-main);
  --container-text-light: var(--base-colors-nutral-white-white-main);
  --container-text-light-fixed: var(--base-colors-nutral-white-white-main);
  --container-text-negative: var(--base-colors-feedback-negative-negative-500-main);
  --container-text-negative-hover: var(--base-colors-feedback-negative-negative-600);
  --container-text-positive: var(--base-colors-feedback-positive-positive-500-main);
  --container-text-positive-hover: var(--base-colors-feedback-positive-positive-600);
  --container-text-primary: var(--colors-brand-primary-primary-500-main);
  --container-text-primary-hover: var(--colors-brand-primary-primary-600);
  --container-text-secondary: var(--colors-brand-secondary-secondary-500-main);
  --container-text-secondary-hover: var(--colors-brand-secondary-secondary-600);
  --container-text-tertiary: var(--colors-brand-teritary-tertiary-500-main);
  --container-text-tertiary-hover: var(--colors-brand-teritary-tertiary-600);
  --container-text-warning: var(--base-colors-feedback-warning-warning-500-main);
  --container-text-warning-hover: var(--base-colors-feedback-warning-warning-600);
  --container-hover-dark: var(--base-colors-nutral-gray-strong-dark-mode-gray-strong-600);
  --container-hover-dark-soft: var(--base-colors-nutral-gray-soft-gray-soft-100);
  --container-hover-gray: var(--base-colors-nutral-gray-soft-gray-soft-50);
  --container-hover-light: var(--base-colors-nutral-white-white-main);
  --container-hover-negative: var(--base-colors-feedback-negative-negative-600);
  --container-hover-negative-soft: var(--base-colors-feedback-negative-negative-50);
  --container-hover-positive: var(--base-colors-feedback-positive-positive-600);
  --container-hover-positive-soft: var(--base-colors-feedback-positive-positive-50);
  --container-hover-primary: var(--colors-brand-primary-primary-600);
  --container-hover-primary-soft: var(--colors-brand-primary-primary-50);
  --container-hover-secondary: var(--colors-brand-secondary-secondary-600);
  --container-hover-secondary-soft: var(--colors-brand-secondary-secondary-50);
  --container-hover-tertiary: var(--colors-brand-teritary-tertiary-600);
  --container-hover-tertiary-soft: var(--colors-brand-teritary-tertiary-50);
  --container-hover-warning: var(--base-colors-feedback-warning-warning-500-main);
  --container-hover-warning-soft: var(--base-colors-feedback-warning-warning-50);
  --default-icon-dark: var(--colors-nutral-gray-strong-dark-mode-gray-strong-800);
  --default-icon-disabled: var(--colors-nutral-gray-strong-dark-mode-gray-strong-50);
  --default-icon-gray: var(--colors-nutral-gray-soft-gray-soft-700);
  --default-icon-light-fixed: var(--colors-nutral-white-white-main);
  --default-icon-negative: var(--colors-feedback-negative-negative-500-main);
  --default-icon-positive: var(--colors-feedback-positive-positive-500-main);
  --default-icon-primary: var(--colors-brand-primary-primary-500-main);
  --default-icon-secondary: var(--colors-brand-secondary-secondary-500-main);
  --default-icon-tertiary: var(--colors-brand-teritary-tertiary-500-main);
  --default-icon-warning: var(--colors-feedback-warning-warning-500-main);
  --icon-hover-dark: var(--colors-nutral-gray-strong-dark-mode-gray-strong-900);
  --icon-hover-gray: var(--colors-nutral-gray-strong-dark-mode-gray-strong-600);
  --icon-hover-negative: var(--colors-feedback-negative-negative-600);
  --icon-hover-positive: var(--colors-feedback-positive-positive-600);
  --icon-hover-primary: var(--colors-brand-primary-primary-600);
  --icon-hover-secondary: var(--colors-brand-secondary-secondary-600);
  --icon-hover-tertiary: var(--colors-brand-teritary-tertiary-600);
  --icon-hover-warning: var(--colors-feedback-warning-warning-600);
  --primary: var(--colors-brand-primary-primary-600);
  --typography-body: var(--colors-nutral-gray-strong-dark-mode-gray-strong-900);
  --typography-body-light: var(--colors-nutral-white-white-main);
  --typography-body-soft: var(--colors-nutral-gray-soft-gray-soft-500-main);
  --typography-caption: var(--colors-brand-primary-primary-900);
  --typography-caption-light: var(--colors-nutral-white-white-main);
  --typography-caption-soft: var(--colors-nutral-gray-soft-gray-soft-500-main);
  --typography-display: var(--colors-nutral-gray-strong-dark-mode-gray-strong-900);
  --typography-display-light: var(--colors-nutral-white-white-main);
  --typography-heading: var(--colors-nutral-gray-strong-dark-mode-gray-strong-900);
  --typography-heading-light: var(--colors-nutral-white-white-main);
  --typography-paragraph-soft: var(--base-colors-nutral-gray-soft-gray-soft-700);
  --typography-sub-heading: var(--base-colors-nutral-gray-strong-dark-mode-gray-strong-400);
  --typography-sub-heading-soft: var(--base-colors-nutral-gray-soft-gray-soft-600);

  
  }
}

@media (prefers-color-scheme: dark) {
  :root {
  --background-fill-central: var(--colors-nutral-gray-strong-dark-mode-gray-strong-500-main);
  --background-fill-heart: var(--colors-nutral-gray-strong-dark-mode-gray-strong-400);
  --background-fill-inner: var(--colors-nutral-gray-strong-dark-mode-gray-strong-600);
  --background-fill-middle: var(--colors-nutral-gray-strong-dark-mode-gray-strong-700);
  --background-fill-outermost: var(--colors-nutral-gray-strong-dark-mode-gray-strong-800);
  --background-fill-surface: var(--colors-nutral-gray-strong-dark-mode-gray-strong-900);
  --background-fill-white: var(--colors-nutral-gray-strong-dark-mode-gray-strong-900);
  --background-stroke-central: var(--colors-nutral-gray-strong-dark-mode-gray-strong-400);
  --background-stroke-heart: var(--colors-nutral-gray-strong-dark-mode-gray-strong-300);
  --background-stroke-inner: var(--colors-nutral-gray-strong-dark-mode-gray-strong-500-main);
  --background-stroke-middle: var(--colors-nutral-gray-strong-dark-mode-gray-strong-600);
  --background-stroke-outermost: var(--colors-nutral-gray-strong-dark-mode-gray-strong-600);
  --background-stroke-surface: var(--colors-nutral-gray-strong-dark-mode-gray-strong-600);
  --component-reversed: var(--colors-nutral-white-white-main);
  --component-fill-dark: var(--colors-nutral-gray-strong-dark-mode-gray-strong-500-main);
  --component-fill-dark-soft: var(--colors-nutral-gray-strong-dark-mode-gray-strong-900);
  --component-fill-disabled: var(--colors-nutral-gray-strong-dark-mode-gray-strong-700);
  --component-fill-light: var(--colors-nutral-gray-strong-dark-mode-gray-strong-800);
  --component-fill-light-fixed: var(--colors-nutral-white-white-main);
  --component-fill-negative: var(--colors-feedback-negative-negative-500-main);
  --component-fill-negative-soft: var(--colors-nutral-gray-strong-dark-mode-gray-strong-900);
  --component-fill-positive: var(--colors-feedback-positive-positive-500-main);
  --component-fill-positive-sfot: var(--colors-nutral-gray-strong-dark-mode-gray-strong-900);
  --component-fill-primary: var(--colors-brand-primary-primary-500-main);
  --component-fill-primary-soft: var(--colors-nutral-gray-strong-dark-mode-gray-strong-900);
  --component-fill-secondary: var(--colors-brand-secondary-secondary-500-main);
  --component-fill-secondary-soft: var(--colors-nutral-gray-strong-dark-mode-gray-strong-900);
  --component-fill-tertiary: var(--colors-brand-teritary-tertiary-500-main);
  --component-fill-tertiary-soft: var(--colors-nutral-gray-strong-dark-mode-gray-strong-900);
  --component-fill-warning: var(--colors-feedback-warning-warning-500-main);
  --component-fill-warning-soft: var(--colors-nutral-gray-strong-dark-mode-gray-strong-900);
  --component-stroke-dark: var(--colors-nutral-gray-strong-dark-mode-gray-strong-400);
  --component-stroke-dark-soft: var(--colors-nutral-gray-strong-dark-mode-gray-strong-400);
  --component-stroke-disabled: var(--colors-nutral-gray-strong-dark-mode-gray-strong-600);
  --component-stroke-light-fixed: var(--colors-nutral-white-white-main);
  --component-stroke-negative: var(--colors-feedback-negative-negative-500-main);
  --component-stroke-negative-soft: var(--colors-nutral-gray-strong-dark-mode-gray-strong-600);
  --component-stroke-positive: var(--colors-feedback-positive-positive-500-main);
  --component-stroke-positive-soft: var(--colors-nutral-gray-strong-dark-mode-gray-strong-600);
  --component-stroke-primary: var(--colors-brand-primary-primary-500-main);
  --component-stroke-primary-soft: var(--colors-nutral-gray-strong-dark-mode-gray-strong-600);
  --component-stroke-secondary: var(--colors-brand-secondary-secondary-500-main);
  --component-stroke-secondary-soft: var(--colors-nutral-gray-strong-dark-mode-gray-strong-600);
  --component-stroke-tertiary: var(--colors-brand-teritary-tertiary-500-main);
  --component-stroke-tertiary-soft: var(--colors-nutral-gray-strong-dark-mode-gray-strong-600);
  --component-stroke-warning: var(--colors-feedback-warning-warning-500-main);
  --component-stroke-warning-soft: var(--colors-nutral-gray-strong-dark-mode-gray-strong-600);
  --component-text-dark: var(--colors-nutral-white-white-main);
  --component-text-dark-hover: var(--colors-nutral-gray-strong-dark-mode-gray-strong-50);
  --component-text-disabled: var(--colors-nutral-gray-strong-dark-mode-gray-strong-400);
  --component-text-gray: var(--colors-nutral-gray-strong-dark-mode-gray-strong-100);
  --component-text-gray-hover: var(--colors-nutral-gray-strong-dark-mode-gray-strong-100);
  --component-text-light: var(--colors-nutral-gray-strong-dark-mode-gray-strong-25);
  --component-text-light-fixed: var(--colors-nutral-white-white-main);
  --component-text-negative: var(--colors-feedback-negative-negative-500-main);
  --component-text-negative-hover: var(--colors-feedback-negative-negative-400);
  --component-text-positive: var(--colors-feedback-positive-positive-500-main);
  --component-text-positive-hover: var(--colors-feedback-positive-positive-400);
  --component-text-primary: var(--colors-brand-primary-primary-500-main);
  --component-text-primary-hover: var(--colors-brand-primary-primary-400);
  --component-text-secondary: var(--colors-brand-secondary-secondary-500-main);
  --component-text-secondary-hover: var(--colors-brand-secondary-secondary-400);
  --component-text-tertiary: var(--colors-brand-teritary-tertiary-500-main);
  --component-text-tertiary-hover: var(--colors-brand-teritary-tertiary-400);
  --component-text-warning: var(--colors-feedback-warning-warning-500-main);
  --component-text-warning-hover: var(--colors-feedback-warning-warning-400);
  --component-hover-dark: var(--colors-nutral-white-white-main);
  --component-hover-dark-soft: var(--colors-nutral-gray-strong-dark-mode-gray-strong-700);
  --component-hover-gray: var(--colors-nutral-gray-strong-dark-mode-gray-strong-900);
  --component-hover-light: var(--colors-nutral-gray-strong-dark-mode-gray-strong-700);
  --component-hover-light-fixed: var(--colors-nutral-white-white-main);
  --component-hover-negative: var(--colors-feedback-negative-negative-600);
  --component-hover-negative-light: var(--colors-feedback-negative-negative-400);
  --component-hover-negative-soft: var(--colors-feedback-negative-negative-800);
  --component-hover-positive: var(--colors-feedback-positive-positive-600);
  --component-hover-positive-light: var(--colors-feedback-positive-positive-400);
  --component-hover-positive-soft: var(--colors-feedback-positive-positive-800);
  --component-hover-primary: var(--colors-brand-primary-primary-600);
  --component-hover-primary-light: var(--colors-brand-primary-primary-400);
  --component-hover-primary-soft: var(--colors-brand-primary-primary-800);
  --component-hover-secondary: var(--colors-brand-secondary-secondary-600);
  --component-hover-secondary-light: var(--colors-brand-secondary-secondary-400);
  --component-hover-secondary-soft: var(--colors-brand-secondary-secondary-800);
  --component-hover-tertiary: var(--colors-brand-teritary-tertiary-600);
  --component-hover-tertiary-light: var(--colors-brand-teritary-tertiary-400);
  --component-hover-tertiary-soft: var(--colors-brand-teritary-tertiary-800);
  --component-hover-warning: var(--colors-feedback-warning-warning-600);
  --component-hover-warning-light: var(--colors-feedback-warning-warning-400);
  --component-hover-warning-soft: var(--colors-feedback-warning-warning-800);
  --container-fill-dark: var(--base-colors-nutral-gray-strong-dark-mode-gray-strong-500-main);
  --container-fill-dark-soft: var(--base-colors-nutral-gray-strong-dark-mode-gray-strong-900);
  --container-fill-disabled: var(--base-colors-nutral-gray-strong-dark-mode-gray-strong-700);
  --container-fill-light: var(--base-colors-nutral-gray-strong-dark-mode-gray-strong-800);
  --container-fill-light-fixed: var(--base-colors-nutral-white-white-main);
  --container-fill-negative: var(--base-colors-feedback-negative-negative-500-main);
  --container-fill-negative-soft: var(--base-colors-nutral-gray-strong-dark-mode-gray-strong-900);
  --container-fill-positive: var(--base-colors-feedback-positive-positive-500-main);
  --container-fill-positive-sfot: var(--base-colors-nutral-gray-strong-dark-mode-gray-strong-900);
  --container-fill-primary: var(--colors-brand-primary-primary-500-main);
  --container-fill-primary-soft: var(--base-colors-nutral-gray-strong-dark-mode-gray-strong-900);
  --container-fill-secondary: var(--colors-brand-secondary-secondary-500-main);
  --container-fill-secondary-soft: var(--base-colors-nutral-gray-strong-dark-mode-gray-strong-900);
  --container-fill-tertiary: var(--colors-brand-teritary-tertiary-500-main);
  --container-fill-tertiary-soft: var(--base-colors-nutral-gray-strong-dark-mode-gray-strong-900);
  --container-fill-warning: var(--base-colors-feedback-warning-warning-500-main);
  --container-fill-warning-soft: var(--base-colors-nutral-gray-strong-dark-mode-gray-strong-900);
  --container-stroke-dark: var(--base-colors-nutral-gray-strong-dark-mode-gray-strong-400);
  --container-stroke-dark-soft: var(--base-colors-nutral-gray-strong-dark-mode-gray-strong-400);
  --container-stroke-disabled: var(--base-colors-nutral-gray-strong-dark-mode-gray-strong-600);
  --container-stroke-negative: var(--base-colors-feedback-negative-negative-500-main);
  --container-stroke-negative-soft: var(--base-colors-nutral-gray-strong-dark-mode-gray-strong-600);
  --container-stroke-positive: var(--base-colors-feedback-positive-positive-500-main);
  --container-stroke-positive-soft: var(--base-colors-nutral-gray-strong-dark-mode-gray-strong-600);
  --container-stroke-primary: var(--colors-brand-primary-primary-500-main);
  --container-stroke-primary-soft: var(--base-colors-nutral-gray-strong-dark-mode-gray-strong-600);
  --container-stroke-secondary: var(--colors-brand-secondary-secondary-500-main);
  --container-stroke-secondary-soft: var(--base-colors-nutral-gray-strong-dark-mode-gray-strong-600);
  --container-stroke-tertiary: var(--colors-brand-teritary-tertiary-500-main);
  --container-stroke-tertiary-soft: var(--base-colors-nutral-gray-strong-dark-mode-gray-strong-600);
  --container-stroke-warning: var(--base-colors-feedback-warning-warning-500-main);
  --container-stroke-warning-soft: var(--base-colors-nutral-gray-strong-dark-mode-gray-strong-600);
  --container-text-dark: var(--base-colors-nutral-white-white-main);
  --container-text-dark-hover: var(--base-colors-nutral-gray-strong-dark-mode-gray-strong-50);
  --container-text-disabled: var(--base-colors-nutral-gray-strong-dark-mode-gray-strong-400);
  --container-text-gray: var(--base-colors-nutral-gray-strong-dark-mode-gray-strong-100);
  --container-text-light: var(--base-colors-nutral-gray-strong-dark-mode-gray-strong-25);
  --container-text-light-fixed: var(--base-colors-nutral-white-white-main);
  --container-text-negative: var(--base-colors-feedback-negative-negative-500-main);
  --container-text-negative-hover: var(--base-colors-feedback-negative-negative-400);
  --container-text-positive: var(--base-colors-feedback-positive-positive-500-main);
  --container-text-positive-hover: var(--base-colors-feedback-positive-positive-400);
  --container-text-primary: var(--colors-brand-primary-primary-500-main);
  --container-text-primary-hover: var(--colors-brand-primary-primary-400);
  --container-text-secondary: var(--colors-brand-secondary-secondary-500-main);
  --container-text-secondary-hover: var(--colors-brand-secondary-secondary-400);
  --container-text-tertiary: var(--colors-brand-teritary-tertiary-500-main);
  --container-text-tertiary-hover: var(--colors-brand-teritary-tertiary-400);
  --container-text-warning: var(--base-colors-feedback-warning-warning-500-main);
  --container-text-warning-hover: var(--base-colors-feedback-warning-warning-400);
  --container-hover-dark: var(--base-colors-nutral-gray-strong-dark-mode-gray-strong-600);
  --container-hover-dark-soft: var(--base-colors-nutral-gray-strong-dark-mode-gray-strong-700);
  --container-hover-gray: var(--base-colors-nutral-gray-strong-dark-mode-gray-strong-900);
  --container-hover-light: var(--base-colors-nutral-gray-strong-dark-mode-gray-strong-700);
  --container-hover-negative: var(--base-colors-feedback-negative-negative-600);
  --container-hover-negative-soft: var(--base-colors-feedback-negative-negative-800);
  --container-hover-positive: var(--base-colors-feedback-positive-positive-600);
  --container-hover-positive-soft: var(--base-colors-feedback-positive-positive-800);
  --container-hover-primary: var(--colors-brand-primary-primary-600);
  --container-hover-primary-soft: var(--colors-brand-primary-primary-800);
  --container-hover-secondary: var(--colors-brand-secondary-secondary-600);
  --container-hover-secondary-soft: var(--colors-brand-secondary-secondary-800);
  --container-hover-tertiary: var(--colors-brand-teritary-tertiary-600);
  --container-hover-tertiary-soft: var(--colors-brand-teritary-tertiary-800);
  --container-hover-warning: var(--base-colors-feedback-warning-warning-600);
  --container-hover-warning-soft: var(--base-colors-feedback-warning-warning-800);
  --default-icon-dark: var(--colors-nutral-white-white-main);
  --default-icon-disabled: var(--colors-nutral-gray-strong-dark-mode-gray-strong-400);
  --default-icon-gray: var(--colors-nutral-gray-strong-dark-mode-gray-strong-200);
  --default-icon-light-fixed: var(--colors-nutral-white-white-main);
  --default-icon-negative: var(--colors-feedback-negative-negative-500-main);
  --default-icon-positive: var(--colors-feedback-positive-positive-500-main);
  --default-icon-primary: var(--colors-brand-primary-primary-500-main);
  --default-icon-secondary: var(--colors-brand-secondary-secondary-500-main);
  --default-icon-tertiary: var(--colors-brand-teritary-tertiary-500-main);
  --default-icon-warning: var(--colors-feedback-warning-warning-500-main);
  --icon-hover-dark: var(--colors-nutral-white-white-main);
  --icon-hover-gray: var(--colors-nutral-gray-strong-dark-mode-gray-strong-400);
  --icon-hover-negative: var(--colors-feedback-negative-negative-400);
  --icon-hover-positive: var(--colors-feedback-positive-positive-400);
  --icon-hover-primary: var(--colors-brand-primary-primary-400);
  --icon-hover-secondary: var(--colors-brand-secondary-secondary-400);
  --icon-hover-tertiary: var(--colors-brand-teritary-tertiary-400);
  --icon-hover-warning: var(--colors-feedback-warning-warning-400);
  --icon-primary: var(--colors-brand-primary-primary-400);
  --typography-body: var(--colors-nutral-white-white-main);
  --typography-body-light: var(--colors-nutral-white-white-main);
  --typography-body-soft: var(--colors-nutral-gray-strong-dark-mode-gray-strong-100);
  --typography-caption: var(--colors-nutral-white-white-main);
  --typography-caption-light: var(--colors-nutral-white-white-main);
  --typography-caption-soft: var(--colors-nutral-gray-strong-dark-mode-gray-strong-100);
  --typography-display: var(--colors-nutral-white-white-main);
  --typography-display-light: var(--colors-nutral-white-white-main);
  --typography-heading: var(--colors-nutral-white-white-main);
  --typography-heading-light: var(--colors-nutral-white-white-main);
  --typography-paragraph-soft: var(--base-colors-nutral-gray-strong-dark-mode-gray-strong-100);
  --typography-sub-heading: var(--base-colors-nutral-white-white-main);
  --typography-sub-heading-soft: var(--base-colors-nutral-gray-strong-dark-mode-gray-strong-100);

  }
}